Demo/FontAwesome-iOS Demo.xcodeproj/project.xcworkspace/xcuserdata/runemadsen.xcuserdatad/UserInterfaceState.xcuserstate
Demo/FontAwesome-iOS Demo.xcodeproj/xcuserdata/runemadsen.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
Demo/FontAwesome-iOS Demo.xcodeproj/xcuserdata/runemadsen.xcuserdatad/xcschemes/FontAwesome-iOS Demo.xcscheme
Demo/FontAwesome-iOS Demo.xcodeproj/xcuserdata/runemadsen.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
